<div class="container p-5">
  <div id="loginButton"></div>
  <h1>
    JWT: <div id="idToken" class="text-info">Please sign in.<div>
  </h1>
  <h1>
    Database ID: <div id="sub" class="text-info">Please wait for server response.</div>
  </h1>
</div>

<script src="https://apis.google.com/js/platform.js" async defer id="gapiScript"></script>
<script>
  const renderSignIn = () => {
    window.gapi.load('signin2', () => {
      const params = {
        onsuccess: (googleUser) => {
          const userAuth = googleUser.reloadAuthResponse();

          postUser(googleUser);
        },
      };

      window.gapi.signin2.render('loginButton', params);
    });
  }

  const postUser = async (googleUser) => {
    const userAuth = await googleUser.reloadAuthResponse();
    document.getElementById("idToken").innerHTML = userAuth.id_token;

    const response = await fetch("http://localhost:3000/users", { // TODO dynamic url
      method: 'POST',
      headers: {
        "Authorization": userAuth.id_token
      }
    });

    if (response.status !== 200) {
      document.getElementById("sub").innerHTML = "An error occured. Please refresh.";
    } else {
      const { sub } = await response.json();
      document.getElementById("sub").innerHTML = sub;
    }
  }

  document
    .getElementById('gapiScript')
    .addEventListener('load', renderSignIn);

  // call renderSignIn if gapi is already loaded to avoid race condition
  if (window.gapiLoaded === true) {
    renderSignIn();
  }

</script>