<div class="container">
  <h1 class="p-5">
    Profile
  </h1>
  <h1 class="text-danger">
    You need to <a href="/" onclick="signOut();">sign out</a> before
    going back to the login page.
  </h1>
  <br>
  <h1>
    JWT: <div id="idToken" class="text-success">Please sign in or wait till user loads.<div>
  </h1>
</div>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
<script>
  function onLoad() {
    gapi.load('auth2', async () => {
      await gapi.auth2.init();
      const auth = gapi.auth2.getAuthInstance();
      const googleUser = auth.currentUser.get();
      const userAuth = await googleUser.reloadAuthResponse();
      document.getElementById("idToken").innerHTML = userAuth.id_token;
    });
  }
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(() => {
      console.log('User signed out.');
    });
  }
</script>